
<main class="mb-3">
    <h1>CONTROL DE INVENTARIO</h1>
    <div class="row">
        <div class="col-lg-12">
        <a href="/volver_main" > <button class="btn btn-secondary float-right">Regresar a Página inicial </button></a>
      </div>
      </div>
  </main>
  <body class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-2">
        <div class="card-height: 100% " >
          <img src="/assets/images/agregarinsumo.png" class="card-img-top"  alt="AgregarInsumo">
          <div class="card-body">
            <div class="col text-center">
              <a href="/AgregarInsumoEnser"><button type="button" class="btn btn-primary">Ingresar </button></a>
            </div>
          </div>
        </div>
        </div>
      <div class="col mb-2">
        <div class="card-height: 100% "  >
          <img src="/assets/images/insumos.png" class="card-img-top"  alt="Insumos" >
          <div class="card-body">
            <div class="col text-center">
            <a href="/ListaInsumos" > <button type="button"  class="btn btn-primary">Ingresar </button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card-height: 100% "  >
        </div>
      </div>
    </div>
  </body>
  