<main class="mb-3">
    <h1>LISTA DE TRATAMIENTOS</h1>
    <div class="row">
      <div class="col-lg-12">
      <a href="/pacientes" > <button class="btn btn-secondary float-right">Regresar a Página anterior</button></a>
    </div>
    </div>
</main>

<body class="container">
  <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-2">
      <div class="card-height: 100% " >
      <div class="caja"><h2><b>ORTODONCIA</b></h2>
        <img src="/assets/images/icon_o.png" style="width:150px; height:50px;" class="card-img-top"  alt="orto">
        <h5>Los tratamientos de ortodoncia realizan suaves movimientos que desplazan los dientes de forma individual o en bloque y corrigen su colocación.  </h5>
      </div>
      </div>
      </div>

      <div class="col mb-2">
        <div class="card-height: 100% " >
          <div class="caja"><h2><b>IMPLANTES DENTALES</b></h2>
            <img src="/assets/images/icon_i.png" style="width:90px; height:45px;"  class="card-img-top"  alt="imp">
          <h5>En OdontoNova la implantología la realizan odontólogos altamente cualificados que cuentan para su trabajo con la tecnología más avanzada. </h5>
        </div>
        </div>
      </div>

      <div class="col mb-2">
        <div class="card-height: 100% " >
          <div class="caja"><h2><b>DIAGNÓSTICO Y PREVENCIÓN</b></h2>
            <img src="/assets/images/icon_d.png" style="width:75px; height:45px;"  class="card-img-top"  alt="diag">
          <h5>En odontología prevenir es literalmente curar. Un diagnóstico a tiempo te ayudará a evitar patologías bucodentales más graves en el futuro. </h5>
        </div>
        </div>
      </div>

      <div class="col mb-2">
        <div class="card-height: 100% " >
          <div class="caja"><h2><b>ESTÉTICA DENTAL</b></h2>
            <img src="/assets/images/icon_e.png" style="width:55px; height:45px;"  class="card-img-top"  alt="est">
          <h5>En OdontoNova ponemos a su disposición diferentes tratamientos odontológicos que te ayudarán a mejorar la salud y apariencia de su boca. </h5>
        </div>
        </div>
      </div>

      <div class="col mb-2">
        <div class="card-height: 100% " >
          <div class="caja"><h2><b>PERIODONCIA</b></h2>
            <img src="/assets/images/icon_p.png" style="width:80px; height:45px;"  class="card-img-top"  alt="periodoncia">
          <h5>La salud de las encías es tan importante como la de las piezas dentales. Un cuidado deficiente de las encías puede derivar en patologías como la gingivitis o la periodontitis. </h5>
        </div>
        </div>
      </div>

      <div class="col mb-2">
        <div class="card-height: 100% " >
          <div class="caja"><h2><b>ODONTOPEDIATRÍA</b></h2>
            <img src="/assets/images/icon_op.png" style="width:80px; height:45px;"  class="card-img-top"  alt="odontopediatria">
          <h5>La Odontopediatría es la rama de la Odontología encargada de tratar a los niños. El odontopediatra es el dentista encargado de explorar y tratar a niños y adolescentes.         </h5>
        </div>
        </div>
      </div>

      <div class="col mb-2">
        <div class="card-height: 100% " >
          <div class="caja"><h2><b>PRÓTESIS</b></h2>
            <img src="/assets/images/icon_pro.png" style="width:80px; height:45px;"  class="card-img-top"  alt="protesis">
          <h5>Es el elemento artificial destinado a restaurar la anatomía de una o varias piezas dentarias.

            El encargado de fabricar estos elementos artificiales es el protésico dental. </h5>
        </div>
        </div>
      </div>
      
      <div class="col mb-2">
        <div class="card-height: 100% " >
          <div class="caja"><h2><b>CARIES</b></h2>
            <img src="/assets/images/icon_caries.png" style="width:65px; height:45px;"  class="card-img-top"  alt="caries">
          <h5>La caries es una perforación que se produce en la estructura del diente debido a la placa bacteriana acumulada por una mala higiene bucal. Las caries son muy frecuentes y pueden causar la pérdida de dientes.</h5>
           </div>
        </div>
      </div>
      
      <div class="col mb-2">
        <div class="card-height: 100% " >
          <div class="caja"><h2><b>BRUXISMO</b></h2>
            <img src="/assets/images/icon_brux.png" style="width:80px; height:45px;"  class="card-img-top"  alt="brusxismo">
          <h5>El bruxismo es una patología que consiste en apretar de forma inconsciente la mandíbula o incluso rechinar los dientes, que se da generalmente mientras dormimos.  </h5>
        </div>
        </div>
      </div>
      <div class="col mb-2">
        <div class="card-height: 100% " >
          <div class="caja"><h2><b>SENSIBILIDAD DENTAL</b></h2>
            <img src="/assets/images/icon_sens.png" style="width:70px; height:45px;"  class="card-img-top"  alt="sensibilidad">
          <h5>La sensibilidad dental es un dolor intenso, pero corto, que se asocia a la exposición de la dentina, en respuesta al frío, al calor y al contacto. </h5>
        </div>
        </div>
      </div>

</div>
</body>

