<main class="mb-3">
    <h1>LISTA DE ESPECIALISTAS</h1>
    <div class="row">
      <div class="col-lg-12">
      <a href="/pacientes" > <button class="btn btn-secondary float-right">Regresar a Página anterior</button></a>
    </div>
    </div>
</main>


<div style="overflow-x:auto;">
  <div class="table table-hover">
    <table id="customers">
        <thead>
        <tr>
          <th>NOMBRE COMPLETO</th>
          <th>ESPECIALIDAD</th>
        </tr>
        </thead>
      <tbody>
        <tr>
          <td>Samuel Suaza Diaz</td>
          <td>Odontologo general y estético</td>
        </tr>
        <tr>
          <td>Maria Catalina Botero Guevara</td>
          <td>Ortodoncista</td>
        </tr>
        <tr>
          <td>David Sanchez</td>
          <td>Ortodoncista</td>
        </tr>
        <tr>
          <td>Johana Rangel Rincon</td>
          <td>Roland Mendel</td>
        </tr>
        <tr>
          <td>Liza Maria Isaza</td>
          <td>Helen Bennett</td>
        </tr>
        <tr>
          <td>Jose Manuel Velez Molina</td>
          <td>Auxiliar de odontología</td>
        </tr>
        <tr>
          <td>Cesar Sanchez</td>
          <td>Rehabilitador Oral</td>
        </tr>
        <tr>
          <td>Alvaro Rincon</td>
          <td>Cirugía Oral y Maxilofacial</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
