
<main class="mb-3">
    <h1>ASIGNACIÓN DE CITAS</h1>
    <div class="row">
      <div class="col-lg-12">
      <a href="/volver_main" > <button class="btn btn-secondary float-right">Regresar a Página inicial </button></a>
    </div>
    </div>
</main>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body class="container">
  <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-2">
      <div class="card-height: 100% " >
        <img src="/assets/images/Agregar.png" class="card-img-top"  alt="Agregar">
        <div class="card-body">
          <div class="col text-center">
            <a href="/AgregarPaciente"><button type="button" class="btn btn-primary">Ingresar </button></a>
          </div>
      </div>
      </div>
      </div>

    <div class="col mb-2">
      <div class="card-height: 100% "  >
        <img src="/assets/images/editar.png" class="card-img-top"  alt="Editar" >
        <div class="card-body">
          <div class="col text-center">
          <a href="/EditarInfoPacientes" > <button type="button"  class="btn btn-primary">Ingresar </button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card-height: 100% "  >
        <img src="/assets/images/cita.png" class="card-img-top"  alt="cita" >
        <div class="card-body">
          <div class="col text-center">
          <a href="/AgregarCita" > <button type="button"  class="btn btn-primary">Ingresar </button></a>
          </div>
      </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card-height: 100% "  >
        <img src="/assets/images/tratamientos.png" class="card-img-top"  alt="listatratamientos" >
        <div class="card-body">
          <div class="col text-center">
          <a href="/ListaTratamientos" > <button type="button"  class="btn btn-primary">Ingresar </button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-2">
      <div class="card-height: 100% "  >
        <img src="/assets/images/especialistas.png" class="card-img-top"  alt="listaespe" >
        <div class="card-body">
          <div class="col text-center">
          <a href="/ListaEspecialistas" > <button type="button"  class="btn btn-primary">Ingresar </button></a>
          </div>
       </div>
      </div>
    </div>
  </div>
</body>
  